<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de progreso {{porcentaje1}}</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [attr.aria-valuenows]="porcentaje1" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                        [style.width]="porcentaje1 + '%'" style="width: 75%"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" [attr.aria-valuenows]="porcentaje2" aria-valuenow="75" aria-valuemin="0"
                        aria-valuemax="100" [style.width]="porcentaje2 + '%'" style="width: 75%"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador leyenda="progress azul" [porcentaje]=porcentaje1 (cambioPorcentaje)="porcentaje1 = $event"></app-incrementador>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador leyenda=" progress verde" [porcentaje]=porcentaje2 (cambioPorcentaje)="porcentaje2 = $event"></app-incrementador>
            </div>
        </div>
    </div>
</div>
