<div class="row animated fadeIn">
    <div class="col-md-6">
        <div class="card card-body">
            <h3 class="box-title m-b-0 text-center">{{titulo}}</h3>
            <br>
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <form #f="ngForm" ngNativeValidate (ngSubmit)="guardarMedico(f)">
                        <div class="form-group text-center">
                            <img (click)="cambiarFoto()" [src]="medico.img | imagen: 'medicos'" alt="" class="img-circle w-50 img-fluid pointer">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Nombre del medico</label>
                            <input [(ngModel)]="medico.nombre" name="nombre" type="text" class="form-control" placeholder="Nombre del médico" required>
                        </div>
                        <div class="form-group">
                            <label>Hospital</label>
                            <select (change)="cambiarHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                                <option value="">Seleccione hospital</option>
                                <option *ngFor="let hospitalSelect of hospitales" [value]="hospitalSelect._id">{{hospitalSelect.nombre}}</option>
                            </select>
                        </div>
                        <div class="form-group text-center">
                            <button [disabled]="f.invalid" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            <a  [routerLink]="['/dashboard/medicos']" class="btn btn-inverse waves-effect waves-light">
                                Cancelar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6 animated fadeIn fast" *ngIf="hospital">
        <div class="card card-body text-center" >
            <h4 class="box-title m-b-0">Hospital</h4>
            <div class="text-center">
                <img [src]="hospital.img | imagen: 'hospitales'" alt="" class="img-circle w-50 img-fluid mt-2">
            </div>
        </div>
    </div>
</div>
